<div class="marginH">
	<div class="header">
		<div class="logoS">
			<p id="logo">Spelunky</p>
		</div>
		<div class="searcher">
			<button id="buttonSearch" type="button">
				<img src="./img/searcher.svg" height="20px" width="100%">
			</button>
			<input type="text" name="searcherI" placeholder="Search Databases" id="inputSearch">
		</div>
		<a href="" id="normalHeader">About</a>
		<a href="" id="purpleHeader">How it works</a>
	</div>
</div>
