<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Mongo Spelunky</title>
	<link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<%- include("./header.ejs") %>	
	<div class="Browser">
		<p>Browse DB</p>
	</div>
	<div class="backgroundColor">
		<div class="searcherSide">
			<div class="searcher2">
				<button id="buttonSearch2" type="button">
				</button>
				<input type="text" name="searcherI" placeholder="Search Databases" id="inputSearch2">
				<hr class="grey">
			</div>
			<div class="category">
				<p class="titleC">Empty Dbs</p>
				<hr class="grey">
				<form>
					<div class="flexCheckC">
						<input class="checkC" type="checkbox" id="notEmpty" name="notEmpty" value="notEmpty">
  						<label class="labelCheck" for="notEmpty">Empty</label><br>
  					</div>
				</form>
			</div>
			<div class="category">
				<p class="titleC">Status</p>
				<hr class="grey">
			</div>
		</div>
		<div id="created" class="showCollections">
			<div id="ejemplo">
            <% dbSearched.forEach( (databases) => { %>
            <div class="dbs">
            <% if (databases.empty) { %>
				<img src="./img/empty.svg" width="60px" height="60px" class="imageCard">
            <% }else{ %>
            	<img src="./img/full.svg" width="60px;" height="60px" class="imageCard">
             <% } %>	
            	<p class="titleCard"><%= databases.name %></p>
            	<p class="pMongo">A mongo DB</p>
            	<button onClick="goToDB(this.id)" id=<%= databases.name %> class="buttonDB">Go to DB</button>
            </div>	
            <% }) %>
		</div>
		</div>
	</div>
	
	<script type="text/javascript" src="./js/database.js"></script>

</body>
</html>
