body{
	margin: 0px;
}

.marginH{
	margin-left: 120px;
	margin-right: 120px;
}

.header{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80px;
	border-bottom: 3px solid black;
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 24px;
	align-items: center;
}
.logoS{
	display: flex;
	flex: 1;
}

.searcher{
	display: flex;
	align-items: center;
	flex: 2;
}

#buttonSearch{
	width: 35px;
	height: 50px;
	background-color: white;
}

#inputSearch{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 24px;
}


#normalHeader{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	padding-right: 20px;
	color: black;

}

#purpleHeader{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	color: #5147E2;
}

.Browser{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 54px;	
	margin-top: 30px;

}

.Browser p{
	margin: 0px;
	margin-bottom: 15px;
	margin-left: 120px;
	margin-right: 120px;
}

.backgroundColor{
	display: flex;
	height: 1000px;
	background-color: #F7F8FB;
	padding-left: 120px;
	padding-right: 120px;

}


.searcherSide{
	display: flex;
	flex-direction: column;
	flex: 1;
	
	margin-top: 40px;
}

#inputSearch2{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 24px;
	background-color: #F7F8FB;
	border: none;
}

#buttonSearch2{
	width: 25px;
	height: 25px;
	background-image: url('../img/searcher.svg');
	background-color: #F7F8FB;
	border:none;
	background-repeat: no-repeat;
	background-size: contain;
}

.grey{
	color: #FFF8FD;
}

.showCollections{
	display: flex;
	flex: 3;
	justify-content: space-around;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
	flex-wrap: wrap;


}

.category{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 24px;
	background-color: #F7F8FB;
	margin-top: 15px;
}

.titleC{
	font-size: 26px;
	margin: 0;
	margin-bottom: 10px;
}

.flexCheckC{
	display: flex;
	align-items: center;
}

.checkC {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.checkC:checked{
	background-color: #5147E2;
	color: #5147E2;
}

.checkC:checked:after {
	font-size: 14px;
	background-color: #5147E2;
	color: #5147E2;
}

.labelCheck{
	color: grey;
	font-weight: 400;
	font-size: 20px;
	margin: 0px;
}

.dbs{
	background-color: white;
	width: 240px;
	height: 240px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	padding-left: 20px;


}

.titleCard{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin: 0px;
}

.imageCard{
	margin-top: 25px;
	margin-bottom: 20px;
}


.pMongo{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: grey;
	margin: 0px;
}

.buttonDB{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: #5147E2;
	-webkit-transition: background-color 1s ease-out;
  	-moz-transition: background-color 1s ease-out;
  	-o-transition: background-color 1s ease-out;
  	transition: background-color 1s ease-out;
  	border-radius: 20px;
}

.buttonDB:hover{
	background-color: white;
	color: #5147E2;
	-webkit-transition: background-color 1s ease-out;
  	-moz-transition: background-color 1s ease-out;
  	-o-transition: background-color 1s ease-out;
  	transition: background-color 1s ease-out;
}

#ejemplo{
	display: flex;
	flex-direction: row;
	flex: 3;
	justify-content: space-around;
	flex-wrap: wrap;
}


.greyArea{
	display: flex;
	background-color: #F7F8FB;
	margin-top: 80px;
	padding-left: 120px;
	padding-right: 120px;
	min-height: 1000px;
	max-height: 100%;
}



.leftColumn{
	display: flex;
	flex: 1;
	margin-top: 35px;
	flex-direction: column;

}


.dbService{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: grey;
	margin: 0px;
	margin-top: 10px;
}

.titleDBName{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: black;
	margin: 0px;
}

.rightColumn{
	margin-top: 35px;
	display: flex;
	flex: 3;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 30px;
}

.descr{
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 16px;
	color: black;
}

.flexButtons{
	display: flex;
	border-bottom: 5px solid #5EBF6D;
	align-items: center;
	justify-content: space-between;
	
}

.semiTitle{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: black;
}

#seeCols{
	background-color: #5EBF6D;
	color: white;
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 20px;
	height: 50px;
	width: 200px;
	border-radius: 20px;
	-webkit-transition: background-color 0.5s ease-out;
  	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

#seeCols:hover{
	background-color: white;
	color: #5EBF6D;
	-webkit-transition: background-color 0.5s ease-out;
  	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.collectionC {
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: black;
}

.collectionDiv{
	display: flex;
	align-items: center;
	border-bottom: 5px solid #5147E2;
	justify-content: space-between;
}

.buttonCollection{
	background-color: #5147E2;
	color: white;
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: bold;
	font-size: 20px;
	height: 50px;
	width: 200px;
	border-radius: 20px;
	-webkit-transition: background-color 0.5s ease-out;
  	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.buttonCollection:hover{
	background-color: white;
	color: #5147E2;
	-webkit-transition: background-color 0.5s ease-out;
  	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}


.recordDown{
	display: flex;
	flex: 3;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
